<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
		<dict/>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ouraleaderboard</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>OURA_CLIENT_SECRET</key>
	<string>g79ylsHoZ9vrjYPzsoeY4jb5XpiLX38FOkZBwAS3_3g</string>
</dict>
</plist>
